/*--
/*  08. Footer CSS
/*----------------------------------------*/
.footer-section {
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
    background: #07174F;
    color: $white;

    a:hover{
        color: $white;
        opacity: 0.7;
    }
}

.social-follow li a{
    min-width: 40px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba($white, 0.5);

    &:hover{
        background-color: $white;
        border-color: $white;
        color: $primary;
        opacity: 1;
    }
}
.footer-top__info{
    font-size: 22px;
    
    li{
        margin: 0;

        &:not(:last-child){
            padding-right: 15px;
        }

        &:not(:first-child){
            position: relative;
            padding-left: 15px;
            
            &:before{
                content: "";
                position: absolute;
                width: 2px;
                height: 20px;
                background: rgba($white, 0.5);
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}

// BRAND
.brand-container{
    
    .single-brand{
        height: 100px;
        overflow: hidden;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}